
body {
    background-color: #FF7F50;
    font-family: Arial, sans-serif;
    text-align: center; 
}

.login {
    background-color: #2a9df4; 
    border-radius: 10px;
    display: inline-block;
}

.login h1 {
    color: #FFFFFF; 
}

.login form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.login form button {
    width: 100%;
    padding: 10px;
    background-color: #FF7F50;
    border: none;
    border-radius: 5px;
    color: #FFFFFF; 
}

.login h2 {
    color: #FFFFFF;
}
